title="Work In Progress ..."
.logo-panel
  .front
    img.logo(src="static/img/logo.png" alt="Copyright 2015, Youssef Selim")
  .back
    p.back-text Work in Progress 8/14
h1 Youssef Selim
h3 UI creator .. UX enthusiast .. Travel seeker .. Photography hobbyist.
a(href="mailto:contact@y-selim.me") contact@y-selim.me
