link(rel="stylesheet" href="static/css/main.css" type="text/css")
title="Youssef Selim"
.logo-panel
  .front
    img.logo(src="static/img/logo.png" alt="Copyright 2015, Youssef Selim")
  .back
    p.back-text Contact for more
h1 Youssef Selim
h6#main-desc UI creator .. UX enthusiast .. Travel seeker .. Photography hobbyist.
ul.soc
  li
    a.soc-linkedin(href="https://www.linkedin.com/in/youssefselim")
  li
    a.soc-github(href="https://github.com/Y-Selim")
  li
    a.soc-flickr.soc-icon-last(href="https://www.flickr.com/photos/youssefahmed/")

a(href="mailto:contact@y-selim.me") contact@y-selim.me
