@import "variables";

// Mixins ONLY
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  -o-box-shadow: $value;
  box-shadow: $value;
}
@mixin transform($segment) {
  -webkit-transform: $segment;
  -moz-transform: $segment;
  -o-transform: $segment;
  transform: $segment;
}
@mixin transform-style($segment) {
  -webkit-transform-style: $segment;
  -moz-transform-style: $segment;
  -o-transform-style: $segment;
  transform-style: $segment;
}
@mixin backface-visibility($segment) {
  -webkit-backface-visibility: $segment;
  -moz-backface-visibility: $segment;
  -o-backface-visibility: $segment;
  backface-visibility: $segment;
}
//  END OF MIXINS

body {
  margin: 0;
  text-align: center;
  padding: 50px 20px 0;
  font: 100% $font-stack;
  color: $primary-font-colour;
  background: $primary-bg-colour;
}

h1 {
  padding: 20px 0;
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #FEFEFE solid 1px;
}

h3 {
  margin-top: 10px;
  font-weight: 300;
}

a {
  font-weight: 300;
  text-decoration: none;
  color: $secondary-font-colour;
}

// Rotating logo
.logo-panel {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
  perspective: 500px;

  .front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: inherit;
    height: inherit;
    transition: all .4s ease-in-out;
    @include backface-visibility(hidden);
    @include transform-style(preserve-3d);
    @include transform(rotateX(0deg) rotateY(0deg));
  }
  .back {
    z-index: 1;
    @extend .front;
    border-radius: 50%;
    @include transform(rotateY(-180deg));
    background-color: $primary-font-colour;
    @include box-shadow(2px 6px rgba(0,0,0,0.6));
  }

  // on hover
  &:hover .front {
    z-index: 1;
    @include transform(rotateY(180deg));
  }
  &:hover .back {
    z-index: 2;
    @include transform(rotateY(0deg));
  }
}

.logo,
.back-text {
  width: inherit;
  height: inherit;
  border-radius: 150px;
}

.logo {
  border: solid 1px #555;
  background-color: #fff;
  @include box-shadow(2px 6px rgba(0,0,0,0.6));
}

.back-text {
  font-size: 17pt;
  padding-top: 35px;
  color: $primary-bg-colour;
}

// Social icons
.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;

    li {
      display:inline-block;
      *display:inline;
      zoom:1;

      a {
        font-family:si!important;
        font-style:normal;
        font-weight:400;
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        -o-box-sizing:border-box;
        box-sizing:border-box;

        -o-transition:.1s;
        -ms-transition:.1s;
        -moz-transition:.1s;
        -webkit-transition:.1s;
        transition:.1s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);

        overflow:hidden;
        text-decoration:none;
        text-align:center;
        display:block;
        position: relative;
        z-index: 1;
        width: 59px;
        height: 59px;
        line-height: 59px;
        font-size: 32px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        margin-right: 10px;
        color: #ffffff;
        background-color: #404040;

        &:hover {
          z-index: 2;
          -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
        }
      }
    }
}

.soc-icon-last{
    margin:0 !important;
}
.soc-linkedin:before {
    content:'j';
    font-size: 15pt;
}
.soc-github:before {
    content:'Q';
    font-size: 15pt;
}
.soc-flickr:before {
    content:'v';
    font-size: 15pt;
}
